@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: 'Bebas Neue',sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

header {
    margin-top:2em;
}
header a{
    text-decoration: none;
}

header a {
    color: black;
    margin-right: 20px;
}

header a:visited{
    color: black;
}
text{
    display: none;
}

footer {
    margin-top: 3em;
}