#registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    gap: 2em;
}


header
{
    display: flex;
    justify-content: end;
    padding-right: 1em;
}

.banner {
    align-self: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
form label,form input {
    width: 100%;
}
#registration_save{
    width: 100%;
}


text{
    display: none;
}
#registration ul {
    padding:0;
    position: absolute;
    top: 4.8em;
}

#registration ul li {
    color: indianred;
}
form input {
    padding:.4em;
}

form div {
    position: relative;
    width: 100%;
}

